{% extends "base.html" %} {% block content %}
<div class="py-3">
  {% if messages %}
    {% for message in messages %} {% if message.tags %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {% endif %} {% endfor %}
  {% endif %}
  <div class="profile">
    <h1 class="mb-3">Profile Info</h1>
    <div class="">
      <p class="">User Name: <span>{{user_info.username}}</span></p>
      <p class="">Email: <span>{{user_info.email}}</span></p>
    </div>
    <div class="d-flex flex-column gap-2 my-4">
      <a href="{% url "update_password" %}" class="btn btn-danger py-2 px-4">Update Password</a>
      <a href="{% url "reset_password" %}" class="btn btn-danger py-2 px-4">Reset Password</a>
    </div>
  </div>
  {% endblock content %}
</div>
